services:

  fetchcraft-admin:
    image: fetchcraft:latest
    container_name: fetchcraft-admin
    entrypoint: ["uv", "run", "fetchcraft-admin"]
    hostname: fetchcraft-admin
    ports:
      - "8010:8001"
    volumes:
      - ${INGESTION_ROOT:-./Documents}:/app/Documents
    env_file:
      - ./.env
    environment:
      - HOST=0.0.0.0
      - PORT=8001
    depends_on:
      - qdrant
      - mongodb
      - pgvector
    restart: unless-stopped
    networks: [ 'demo-net' ]


  fetchcraft-docling-server:
    image: fetchcraft-gpu-cu126
    container_name: fetchcraft-parsing-docling
    entrypoint: ["uv", "run", "fetchcraft-docling-server"]
    hostname: docling-server
    ports:
      - "8020:8001"
    volumes:
      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '1' ]
              capabilities: [gpu]

  fetchcraft-mcp:
    image: fetchcraft
    container_name: fetchcraft-mcp
    entrypoint: ["uv", "run", "fetchcraft-mcp"]
    hostname: fetchcraft-mcp
    ports:
      - "8030:8003"
    volumes:
      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
    env_file:
      - ./.env
    environment:
      - HOST=0.0.0.0
      - PORT=8003
      - QDRANT_HOST=fetchcraft-qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]

  librechat:
    image: librechat
#    image: librechat-dev-alex2
#    image: ghcr.io/danny-avila/librechat-dev-api:latest
    container_name: librechat
    ports:
      - "3080:3080"
#    depends_on:
#      - mongodb
#      - rag_api
#    image: ghcr.io/danny-avila/librechat-dev:latest
    restart: always
    user: "${UID}:${GID}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HOST=0.0.0.0
      - MONGO_URI=mongodb://wingman.akhbar.home:27017/LibreChat
      - MEILI_HOST=http://meilisearch:7700
      - RAG_PORT=${RAG_PORT:-8000}
      - RAG_API_URL=http://rag_api:${RAG_PORT:-8010}
    env_file:
      - ./librechat.env
    volumes:
      - ./librechat.env:/app/.env
      - ./librechat.yaml:/app/librechat.yaml
      - ./images:/app/client/public/images
      - ./uploads:/app/uploads
      - ./logs:/app/api/logs
    networks: [ 'demo-net' ]

  # Qdrant vector database
  qdrant:
    image: qdrant/qdrant
    hostname: fetchcraft-qdrant
    container_name: fetchcraft-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant-data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    networks: [ 'demo-net' ]

  mongodb:
    image: mongo
    container_name: mongodb
    hostname: mongodb
    command: mongod --quiet --logpath /var/log/mongodb/server1.log --logappend
    networks: [ 'demo-net' ]
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    restart: always


  meilisearch:
    container_name: chat-meilisearch
    image: getmeili/meilisearch:v1.12.3
    hostname: meilisearch
    restart: always
    user: "${UID}:${GID}"
    ports:
      - "7700:7700"
    environment:
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - meili_data:/meili_data

  pgvector:
    #    image: postgres:16-alpine
    image: pgvector/pgvector:pg16
    container_name: pgvector
    hostname: pgvector
    networks: [ 'demo-net' ]
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    env_file:
      - .env
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}' ]
      #      test: ['CMD-SHELL', 'docker exec -it postgres pg_isready -h localhost -U postgres  && docker exec -it postgres psql -U postgres -c "CREATE EXTENSION vector" &&  docker exec -it postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'password';" && docker exec -it postgres psql -U postgres -c "CREATE DATABASE vector_db;"']
      interval: 5s
      timeout: 5s
      retries: 10

#  rag_api:
#    container_name: rag_api
#    image: ghcr.io/danny-avila/librechat-rag-api-dev-lite:latest
#    environment:
#      - DB_HOST=pgvector
#      - RAG_PORT=${RAG_PORT:-8020}
#    restart: always
#    networks: [ 'demo-net' ]
#    depends_on:
#      - pgvector
#    env_file:
#      - librechat.env

  compass:
    image: haohanyang/compass-web
    container_name: mongodb-compass
    environment:
      - CW_MONGO_URI=mongodb://mongodb:27017
    depends_on:
      - mongodb
    ports:
      - 9010:8080
    networks: [ 'demo-net' ]

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    ports:
      - "9020:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: alexander.vaagan@crayon.com
      PGADMIN_DEFAULT_PASSWORD: strong-password
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    networks: [ 'demo-net' ]

networks:
  demo-net:
    driver: bridge

volumes:
  mongodb-data:
  qdrant-data:
  meili_data:
  pg-data:
  pgadmin-data: