version: '3.8'

services:
  # Qdrant vector database
  qdrant:
    image: qdrant/qdrant
    hostname: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - /mnt/storage/AI-Infrastructure/qdrant-data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    networks: [ 'demo-net' ]

  mongodb:
    image: mongo
    container_name: mongodb
    hostname: mongodb
    command: mongod --quiet --logpath /var/log/mongodb/server1.log --logappend
    networks: [ 'demo-net' ]
    ports:
      - "27017:27017"
    volumes:
      - /mnt/storage/AI-Infrastructure/mongodb-data:/data/db
    restart: always

  # Fetchcraft OpenAPI Server
  fetchcraft-openapi-server:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: fetchcraft
    hostname: openapi-server
    ports:
      - "8001:8001"
    volumes:
      - ./Documents:/app/Documents
      - ./demo_queue.db:/app/demo_queue.db
      - /home/alex/PycharmProjects/fetchcraft/fetchcraft-demos/fetchcraft-openapi-server/.env:/app/.env

    env_file:
      - fetchcraft-demos/fetchcraft-openapi-server/.env
    environment:
      - HOST=0.0.0.0
      - PORT=8001
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]

  fetchcraft-mcp-server:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: fetchcraft
    entrypoint: ["uv", "run", "fetchcraft-mcp-server"]
    hostname: mcp-server
    ports:
      - "8003:8003"
    volumes:
      - ./Documents:/app/Documents
      - ./demo_queue.db:/app/demo_queue.db
      - /home/alex/PycharmProjects/fetchcraft/fetchcraft-demos/fetchcraft-mcp-server/.env:/app/.env
    env_file:
      - fetchcraft-demos/fetchcraft-mcp-server/.env
    environment:
      - HOST=0.0.0.0
      - PORT=8003
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]

networks:
  loadbalancing:
  demo-net:
    driver: bridge
