services:
  # Qdrant vector database
  qdrant:
    image: qdrant/qdrant
    hostname: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant-data:/qdrant/storage
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    networks: [ 'demo-net' ]

  mongodb:
    image: mongo
    container_name: mongodb
    hostname: mongodb
    command: mongod --quiet --logpath /var/log/mongodb/server1.log --logappend
    networks: [ 'demo-net' ]
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    restart: always

  # Fetchcraft OpenAPI Server
  fetchcraft-openapi-server:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: fetchcraft
    hostname: openapi-server
    ports:
      - "8001:8001"
    volumes:
      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
    env_file:
      - ./.env
    environment:
      - HOST=0.0.0.0
      - PORT=8001
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]

#  docling-serve:
#    image: ghcr.io/docling-project/docling-serve-cu126:main
#    container_name: docling-serve
#    ports:
#      - "5001:5001"
#    environment:
#      - DOCLING_SERVE_ENABLE_UI=true
#      - DOCLING_SERVE_MAX_SYNC_WAIT=1200
#      - DOCLING_SERVE_ARTIFACTS_PATH=/app/models
#      - NVIDIA_VISIBLE_DEVICES=all
##        NVIDIA_VISIBLE_DEVICES: "all" # https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/docker-specialized.html
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              device_ids: [ '1' ]
#              capabilities: [gpu]
#    restart: always

  fetchcraft-docling-server:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: fetchcraft-gpu
    entrypoint: ["uv", "run", "fetchcraft-docling-server"]
    hostname: docling-server
    ports:
      - "8020:8001"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '1' ]
              capabilities: [gpu]

  fetchcraft-admin:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: fetchcraft
    entrypoint: ["uv", "run", "fetchcraft-admin"]
    hostname: fetchcraft-admin
    ports:
      - "8040:8001"
    volumes:
      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
    env_file:
      - ./.env
    environment:
      - HOST=0.0.0.0
      - PORT=8001
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
      - POSTGRES_URL=postgresql://postgres:password@pgvector:5432/ingestion
      - DOCUMENTS_PATH=/app/Documents
    depends_on:
      - qdrant
      - mongodb
      - fetchcraft-docling-server
    restart: unless-stopped
    networks: [ 'demo-net' ]

  fetchcraft-mcp-server:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: fetchcraft
    entrypoint: ["uv", "run", "fetchcraft-mcp-server"]
    hostname: mcp-server
    ports:
      - "8003:8001"
    volumes:
      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
    env_file:
      - ./.env
    environment:
      - HOST=0.0.0.0
      - PORT=8001
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant
    restart: unless-stopped
    networks: [ 'demo-net' ]

#  fetchcraft-ingestion-mcp-server:
##    build:
##      context: .
##      dockerfile: Dockerfile
#    image: fetchcraft
#    entrypoint: ["uv", "run", "fetchcraft-ingestion-admin"]
#    hostname: ingestion-mcp-server
#    ports:
#      - "8004:8001"
#    volumes:
#      - ${DOCUMENTS_PATH:-./Documents}:/app/Documents
#      - ./ingestion_queue.db:/app/ingestion_queue.db
#    env_file:
#      - ./.env
#    environment:
#      - HOST=0.0.0.0
#      - PORT=8001
#      - QDRANT_HOST=qdrant
#      - QDRANT_PORT=6333
#      - DOCUMENTS_PATH=/app/Documents
#    depends_on:
#      - qdrant
#      - mongodb
#      - fetchcraft-docling-server
#    restart: unless-stopped
#    networks: [ 'demo-net' ]

  librechat:
    image: librechat-dev-alex
#    image: ghcr.io/danny-avila/librechat-dev-app:latest
    container_name: librechat
    ports:
      - "3090:3080"
    depends_on:
      - mongodb
#      - rag_api
#    image: ghcr.io/danny-avila/librechat-dev:latest
    restart: always
    user: "${UID}:${GID}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HOST=0.0.0.0
      - MONGO_URI=mongodb://mongodb:27017/LibreChat
      - MEILI_HOST=http://meilisearch:7700
      - RAG_PORT=${RAG_PORT:-8000}
      - RAG_API_URL=http://rag_api:${RAG_PORT:-8010}
    env_file:
      - ./librechat.env
    volumes:
      - ./librechat.yaml:/app/librechat.yaml
      - ./librechat.env:/app/.env

      - ./images:/app/client/public/images
      - ./uploads:/app/uploads
      - ./logs:/app/logs
    networks: [ 'demo-net' ]

  meilisearch:
    container_name: chat-meilisearch
    image: getmeili/meilisearch:v1.12.3
    restart: always
    user: "${UID}:${GID}"
    environment:
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - meili_data:/meili_data

  pgvector:
    #    image: postgres:16-alpine
    image: pgvector/pgvector:pg16
    container_name: pgvector
    hostname: pgvector
    networks: [ 'demo-net' ]
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    env_file:
      - .env
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}' ]
      #      test: ['CMD-SHELL', 'docker exec -it postgres pg_isready -h localhost -U postgres  && docker exec -it postgres psql -U postgres -c "CREATE EXTENSION vector" &&  docker exec -it postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'password';" && docker exec -it postgres psql -U postgres -c "CREATE DATABASE vector_db;"']
      interval: 5s
      timeout: 5s
      retries: 10

#  rag_api:
#    container_name: rag_api
#    image: ghcr.io/danny-avila/librechat-rag-app-dev-lite:latest
#    environment:
#      - DB_HOST=pgvector
#      - RAG_PORT=${RAG_PORT:-8020}
#    restart: always
#    networks: [ 'demo-net' ]
#    depends_on:
#      - pgvector
#    env_file:
#      - librechat.env

networks:
  demo-net:
    driver: bridge

volumes:
  mongodb-data:
  qdrant-data:
  meili_data:
  pg-data: